/* modules: pulls in normalize.scss */
// @import 'node_modules/normalize.css/normalize';

* {
  margin: 10px;
}

/* nesting */
article {
  border: 1px solid green;
  li {
    background: lightgray;
  }
}

/* variables */
$deep-red: #990000;

.warning {
  color: $deep-red;
  font-weight: bold;
}

/* loops */
@for $i from 1 through 3 {
  h#{$i} {
    font-size: $i * 10px;
  }
}

/* functions aka "mixins" */
@mixin border-radius ($r) {
  -webkit-border-radius: $r;
  -moz-border-radius: $r;
  border-radius: $r;
}

.thing {
  @include border-radius(10px);
  padding: 10px;
}

.pink-thing {
  @extend .thing;
  background-color: deeppink;
}

.block {
  border: 2px solid orange;
  width: 50px;
  height: 50px;
}

.inline {
  border: 2px solid deeppink;
  width: 50px;
  height: 50px;
}

.inline-block {
  display: inline-block;
  border: 2px solid royalblue;
  width: 50px;
  height: 50px;
}

